# Usuario y contraseña
DB_USER=user
DB_PASS=pass

# Ip y puerto del servidor con mysql
DB_IP=127.0.0.1
DB_PORT=3306

# Base de datos a la que se va a conectar
DB_DATABASE=ejemplo

###############################################
# URL de la web para habilitarla desde los cors
WEB_URL=https://laweb.com